<%- include('parts/header') -%>
<h1><%= metaData.title %></h1>

<ul>
    <% posts.forEach(function(post, i) { %>
        <li>
            <a href="<%= `${metaData.siteUrl}/blog/${post.slug}` %>">
                <%= post.title %>
            </a>
        </li>
    <% }); %>
</ul>

<div class="pagination">
    <% if (pagination.hasPrev) { %>
        <a href="<%= `${metaData.siteUrl}/blog?page=${parseInt(pagination.page, 10) - 1}` %>">❮</a>
    <% } %>
    <span><%= `Page ${pagination.page}` %></span>
    <% if (pagination.hasNext) { %>
        <a href="<%= `${metaData.siteUrl}/blog?page=${parseInt(pagination.page, 10) + 1}` %>">❯</a>
    <% } %>
</div>

<%- include('parts/footer') -%>
